.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo{
    width: 100%;
    padding: 0.5rem;
    align-content: center;
}

.pokemon {
    margin: .5rem;
    padding: 1rem ;
    border-radius: 1rem 1rem 0 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0.1em 0.1em 0.4em;
}

.detail {
    box-sizing: content-box;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.detail img{
    height: 10rem ;
}

details{
    margin: -.5rem .6rem 1rem ;
    padding: .9rem;
    border-radius: 0 0 1rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0.1em 0.4em;
}

.normal {
    background-image: linear-gradient(to bottom right, #d5daae,#8e9064);
}

.grass {
    background-image: linear-gradient(to bottom right,  #50f2a1, #37a405);
}

.fire {
    background-image: linear-gradient(to bottom right,  #fdc639,  #fa7828);
}

.water {
    background-image: linear-gradient(to bottom right,  #4ad2ff,  #2f56e1);
}

.electric {
    background-image: linear-gradient(to bottom right, #fdff76, #ffcc02);
}

.ice{
    background-image: linear-gradient(to bottom right, #b1e6ff, #efefef);
}

.ground {
    background-image: linear-gradient(to bottom right,  #8c6804, #dfbf69);
}

.flying {
    background-image: linear-gradient(to bottom right,  #2a5473, #b6c9f1);
}

.poison {
    background-image: linear-gradient(to bottom right,  #82128a,  #a040a0);
}

.fighting {
    background-image: linear-gradient(to bottom right,  #630a06, #bf3029);
}

.psychic {
    background-image: linear-gradient(to bottom right,  #ff00ee,  #ffaff8);
}

.dark {
    background-image: linear-gradient(to bottom right, #403f44, #1e1b32);
}

.rock {
    background-image: linear-gradient(to bottom right,  #4a4b4a,#aaabaa);
}

.bug {
    background-image: linear-gradient(to bottom right,  #cfeb69,  #7c911e);
}

.ghost {
    background-image: linear-gradient(to bottom right, #433a55, #9e719e);
}

.steel {
    background-image: linear-gradient(to bottom right, #787878 , #e8e8e8);
}

.dragon {
    background-image: linear-gradient(to bottom right,#6700b6, #9a8bf3);
}

.fairy {
    background-image: linear-gradient(to bottom right, #f7bbcb, #fd7b7b);
}

.number {
    color: #ececec;
    text-shadow: black 0.1em 0.1em 0.3em;
    text-align: right;
    font-size: 1rem;
}

.name {
    padding-left: .5rem;
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-bottom: .25rem;
    text-transform: capitalize;
}


.types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.type {
    color: white; 
    text-shadow: black 0.1em 0.1em 0.3em;
    text-align: center;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .8rem;
    border-radius: 1rem;
    filter: brightness(1.2);
    box-shadow: rgba(0, 0, 0, 0.299) 0.1em 0.1em 0.2em;
}

.pokemon .detail img {
    max-width: 100%;
    width: 70%;
}

.pagination {
    padding: 1rem ;
    gap: .2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pagination button {
    border: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.3em;
    background-color: #9f9fa0;
    border-radius: 1rem;
    justify-content: space-between;

}

.pagination button:hover {
    background-color: #757575;
    box-shadow: rgba(0, 0, 0, 0.299) 0.1em 0.1em 0.2em;
}

ul {
    padding: 0;
    list-style: none;
    text-transform: uppercase;
  }
  
  .stats-container .stats {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .stats-container .stats p {
    min-width: 30px;
  }
  
  .stats-container .progress-bar {
    width: 100%;
    height: 1rem;
    background-color: #dddddd;
    border-radius: 6px;
    position: relative;
  }
  .stats-container .progress-bar .progress {
    height: 100%;
    border-radius: 6px;
    position: absolute;
  }
  
  .stats-container .stats :first-child {
    flex: 1;
  }
  
  .stats-container .stats :nth-child(2) {
    flex: 1;
  }
  
  .stats-container .stats :nth-child(3) {
    flex: 9;
  }

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
